:root
{
	font-size : 16px;
	font-family: 'Poppins', sans-serif;

	--background-primary : #004876;

}

.container
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	background-color: var(--background-primary);
	margin : 0;
}

.titre 
{
	width: 100%;
	text-align: center;
	font-size: 36px;
	color : white;
}

.music_container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height : 100%;
	margin: auto;
	margin-top: 50px;

}

audio 
{
	display:none;
}


.panel
{
	display : flex;
	justify-content: space-around;
	margin: 15px;
}


.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #004876;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background: #003e76;
}

.button:active {
  background: #003476;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}


.volume_control
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.volume_display
{
  display: flex;
  height: 50px;
  padding: 0;
  background: #004876;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
}

.volume_text, .volume_icon {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  color: #fff;
  height: 100%;
}

.volume_icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

